In [1]:
 # Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load 
file_path = "Resources/Lessons_04-Pandas_Homework_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_file = pd.read_csv(file_path)
heroes_file.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#We start by counting the players and excluding those that repeat by using nunique that counts only the unique values.
players_count = heroes_file ["SN"].nunique()

In [4]:
#To find the items count we repeat the last process. 
unique_items = heroes_file["Item Name"].nunique()

In [5]:
#To find the average we use the function mean(), that gives us the average. 
average_price = heroes_file["Price"].mean()

In [6]:
#To find the number of purchases, we count the items. 
#We don't need to exclude those that repeat because we want all the pucheases
purchases = heroes_file["Item ID"].count()

In [7]:
#To find the total revenue we add the Price columns with sum()
total_revenue = heroes_file["Price"].sum()

In [8]:
#To present the results we make te result a dataframe. In the processes that follow we will use concat, 
#but to show the dictionary process we used that one for the first two dataframes. 
summarydf = pd.DataFrame({"Total Players": [576]})
summarydf

   Total Players
0            576

In [9]:
#We can style this dataframe. Using style.format
financialdf = pd.DataFrame({"Number of Unique Items": [179], "Average Price": [3.050987179487176], 
                           "Number of Purchases": [780], "Total Revenue": [2379.77]})
financialdf["Average Price"] = financialdf["Average Price"].astype(float).map(
    "${:,.2f}".format)
financialdf["Total Revenue"] = financialdf["Total Revenue"].astype(float).map(
    "${:,.2f}".format)
financialdf

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [10]:
#Gender demographics
#We begin the gender analysis. In order to find the information separeted by gender we must group the file by that column.
group_gender = heroes_file.groupby("Gender")

In [11]:
# We late must find the number of buyers by gender, so once again we use nunique, to eliminate those that repeat.
total_gender = group_gender["SN"].nunique()

In [12]:
#To find the percentage, we use the number we found before and the total number of players. 
gender_percent = (total_gender/players_count)

In [13]:
#We use concat to build the dataframe and we style the columns. 
gender_table = pd.concat([total_gender, gender_percent], axis=1)
gender_table.columns=["Total Count", "Percentage of Players"]
gender_table["Percentage of Players"] = gender_table["Percentage of Players"].astype(float).map(
    "{:.2%}".format)
gender_table

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [14]:
#We use the same functions as before to find the average, sum total, the average per person. 
gender_average = group_gender["Price"].mean()

In [15]:
gender_total = group_gender["Price"].sum()

In [16]:
purchase_count = group_gender["Item ID"].count()

In [17]:
gender_perperson = gender_total/total_gender

In [18]:
#We repeat the process using concat and formating the dataframe. 
gender_summary = pd.concat([purchase_count, gender_average, gender_total, gender_perperson], axis=1)
gender_summary.columns=["Purchase Count", "Average Purchase Price", 
                        "Total Purchase Value", "Avg Total Purchase per Person"]
gender_summary["Average Purchase Price"] = gender_summary["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
gender_summary["Total Purchase Value"] = gender_summary["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
gender_summary["Avg Total Purchase per Person"] = gender_summary["Avg Total Purchase per Person"].astype(float).map(
    "${:,.2f}".format)
gender_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [19]:
#Age demographic
#In order to select only the "SN" and "Age" column, we used loc and we dropped the duplicates. 
heroes_norepeat = heroes_file.loc[ :, ["SN", "Age"]]
heroes_norepeat = heroes_norepeat.drop_duplicates(subset=['SN'])
heroes_norepeat

                SN  Age
0          Lisim78   20
1      Lisovynya38   40
2       Ithergue48   24
3    Chamassasya86   24
4        Iskosia90   23
..             ...  ...
773         Hala31   21
774     Jiskjask80   11
775     Aethedru70   21
777     Yathecal72   20
778        Sisur91    7

[576 rows x 2 columns]

In [20]:
#Now, in order to separate by the age group, we use bins. We separate the ages by group the use bins to group the rest
# of the information. 
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "+40"]
pd.cut(heroes_norepeat["Age"], age_bins, labels=labels)

0      20-24
1        +40
2      20-24
3      20-24
4      20-24
       ...
773    20-24
774    10-14
775    20-24
777    20-24
778      <10
Name: Age, Length: 576, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '+40']

In [21]:
pd.cut(heroes_norepeat["Age"], age_bins, labels=labels).value_counts()

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
+40       12
Name: Age, dtype: int64

In [22]:
# We then groupe the ages by the age group they belong to and then we use count to see how many players are in each group.
heroes_norepeat["Age range"]= pd.cut(heroes_norepeat["Age"], age_bins, labels=labels)
age_group = heroes_norepeat.groupby("Age range")
age_count = age_group["Age range"].count()

In [23]:
# We then use the age count we calculated before and the players count to find the percentage of players in each group.
age_percent = (age_count/players_count)

In [24]:
# We use concat to build a dataframe with the information we obtained before and we give it format. 
age_summary = pd.concat([age_count, age_percent], axis=1)
age_summary.columns=["Total Count", "Percentage of Players"]
age_summary["Percentage of Players"] = age_summary["Percentage of Players"].astype(float).map(
    "{:.2%}".format)
age_summary

           Total Count Percentage of Players
Age range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
+40                 12                 2.08%

In [25]:
#Purchasing analysis (Age)
# Using bins, we groupe the information just that this time we use the the purchase data. 
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "+40"]
pd.cut(heroes_file["Age"], age_bins, labels=labels)

0      20-24
1        +40
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '+40']

In [26]:
# We use groupby again to create age groups. 
heroes_file["Age group"]= pd.cut(heroes_file["Age"], age_bins, labels=labels)
age_purchasing_group = heroes_file.groupby("Age group")

In [27]:
# We use once again the functions count(), mean() and sum() to find the purchase information by age group.
age_count = age_purchasing_group["Price"].count()

In [28]:
age_av = age_purchasing_group["Price"].mean()

In [29]:
age_sum = age_purchasing_group["Price"].sum()

In [30]:
age_purchase_pp = age_sum/age_count

In [31]:
# We build the dataframe and give it the format we need. 
age_table = pd.concat([age_count, age_av, age_sum, age_purchase_pp], axis=1)
age_table.columns=["Purchase Count","Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]
age_table["Average Purchase Price"] = age_table["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
age_table["Total Purchase Value"] = age_table["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
age_table["Avg Total Purchase per Person"] = age_table["Avg Total Purchase per Person"].astype(float).map(
    "${:,.2f}".format)
age_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age group,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
+40,13,$2.94,$38.24,$2.94

In [32]:
#Top spenders
# In order to find the buyers that bought the most games, we first need to group the dataframe by player. 
buyers_grouped = heroes_file.groupby("SN")
buyers_count = buyers_grouped["SN"].count()

In [33]:
# We make the usual calculations. 
buyers_mean = buyers_grouped["Price"].mean()

In [34]:
buyers_sum = buyers_grouped["Price"].sum()

In [35]:
# We build the dataframe and give it format.
buyers_table = pd.concat([buyers_count, buyers_mean, buyers_sum], axis=1)
buyers_table.columns=["Purchase Count", "Average Purchase Price", "Total Purchase Value"]

In [48]:
# We need to sort the dataframe so wwe have the players that spent the most. We use sort for that. We also use ascending
# false because the default sorting makes it ascending and we need descending 
sorted_buyers = buyers_table.sort_values("Total Purchase Value", ascending=False)
sorted_buyers["Average Purchase Price"] = sorted_buyers["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
sorted_buyers["Total Purchase Value"] = sorted_buyers["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)

In [51]:
sorted_buyers.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [38]:
#Most Popular items
#We are going to repeat the last process but we are locing with the items' information. 
popular_items = heroes_file.loc[ :, ["Item ID", "Item Name", "Price"]]

In [39]:
# We group by the item id and the name. 
grouped_popular = popular_items.groupby(["Item ID", "Item Name"])

In [40]:
#We make the usual calculations. 
popular_count = grouped_popular.count()

In [41]:
popular_sum = grouped_popular.sum()

In [42]:
popular_average = grouped_popular.mean()

In [60]:
#We build the table and give it the format we need. Finally, we sort the informations based on the purchase count in order
# to find the most popular games. 

popular_table = pd.concat([popular_count, popular_average, popular_sum], axis=1)
popular_table.columns=["Purchase Count", "Item Price(num)", "Total Purchase Value(num)"]
popular_table["Item Price"] = popular_table["Item Price(num)"].astype(float).map(
    "${:,.2f}".format)
popular_table["Total Purchase Value"] = popular_table["Total Purchase Value(num)"].astype(float).map(
    "${:,.2f}".format)
popular_table.sort_values("Purchase Count", 
                          ascending=False)[["Purchase Count", "Item Price", "Total Purchase Value"]].head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [61]:
popular_table.sort_values("Total Purchase Value(num)", 
                          ascending=False)[["Purchase Count", "Item Price", "Total Purchase Value"]].head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80