In [2]:
 # Dependencies and Setup
import pandas as pd
import numpy as np

In [3]:
# File to Load 
file_path = "Resources/Lessons_04-Pandas_Homework_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_file = pd.read_csv(file_path)

In [4]:
heroes_file.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
players_count = heroes_file ["SN"].nunique()
players_count

576

In [6]:
unique_items = heroes_file["Item Name"].nunique()
unique_items

179

In [7]:
average_price = heroes_file["Price"].mean()
average_price

3.050987179487176

In [8]:
purchases = heroes_file["Item ID"].count()
purchases

780

In [9]:
total_revenue = heroes_file["Price"].sum()
total_revenue

2379.77

In [29]:
#Hacemos dos dataframes para presentar los datos obtenidos
summarydf = pd.DataFrame({"Total Players": [576]})
summarydf

   Total Players
0            576

In [31]:
financialdf = pd.DataFrame({"Number of Unique Items": [179], "Average Price": [3.050987179487176], 
                           "Number of Purchases": [780], "Total Revenue": [2379.77]})
financialdf

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [16]:
#Gender demographics
group_gender = heroes_file.groupby("Gender")
group_gender.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [18]:
gender_average = group_gender["Price"].mean()
gender_average

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [19]:
gender_total = group_gender["Price"].sum()
gender_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [22]:
gender_perperson = average_price/group_gender["SN"].count()
gender_perperson

Gender
Female                   0.027000
Male                     0.004679
Other / Non-Disclosed    0.203399
Name: SN, dtype: float64