In [2]:
 # Dependencies and Setup
import pandas as pd
import numpy as np

In [3]:
# File to Load 
file_path = "Resources/Lessons_04-Pandas_Homework_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_file = pd.read_csv(file_path)

In [4]:
#We start by counting the players and excluding those that repeat by using nunique that counts only the unique values.
players_count = heroes_file ["SN"].nunique()

In [5]:
#To find the items count we repeat the last process. 
unique_items = heroes_file["Item Name"].nunique()

In [6]:
#To find the average we use the function mean(), that gives us the average. 
average_price = heroes_file["Price"].mean()

In [7]:
#To find the number of purchases, we count the items. 
#We don't need to exclude those that repeat because we want all the pucheases
purchases = heroes_file["Item ID"].count()

In [14]:
#To find the total revenue we add the Price columns with sum()
total_revenue = heroes_file["Price"].sum()

In [15]:
#To present the results we make te result a dataframe. In the processes that follow we will use concat, 
#but to show the dictionary process we used that one for the first two dataframes. 
summarydf = pd.DataFrame({"Total Players": [576]})
summarydf

   Total Players
0            576

In [16]:
#We can style this dataframe. Using style.format
financialdf = pd.DataFrame({"Number of Unique Items": [179], "Average Price": [3.050987179487176], 
                           "Number of Purchases": [780], "Total Revenue": [2379.77]})
financialdf["Average Price"] = financialdf["Average Price"].astype(float).map(
    "${:,.2f}".format)
financialdf["Total Revenue"] = financialdf["Total Revenue"].astype(float).map(
    "${:,.2f}".format)
financialdf

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [17]:
#Gender demographics
#We begin the gender analysis. In order to find the information separeted by gender we must group the file by that column.
group_gender = heroes_file.groupby("Gender")

In [18]:
# We late must find the number of buyers by gender, so once again we use nunique, to eliminate those that repeat.
total_gender = group_gender["SN"].nunique()

In [19]:
#To find the percentage, we use the number we found before and the total number of players. 
gender_percent = (total_gender/players_count)

In [20]:
#We use concat to build the dataframe and we style the columns. 
gender_table = pd.concat([total_gender, gender_percent], axis=1)
gender_table.columns=["Total Count", "Percentage of Players"]
gender_table["Percentage of Players"] = gender_table["Percentage of Players"].astype(float).map(
    "{:.2%}".format)
gender_table

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [21]:
#We use the same functions as before to find the average, sum total, the average per person. 
gender_average = group_gender["Price"].mean()

In [22]:
gender_total = group_gender["Price"].sum()

In [23]:
gender_perperson = average_price/group_gender["SN"].count()

In [24]:
purchase_count = group_gender["Item ID"].count()

In [25]:
#Average per person

In [26]:
#We repeat the process using concat and formating the dataframe. 
gender_summary = pd.concat([purchase_count, gender_average, gender_total, gender_perperson], axis=1)
gender_summary.columns=["Purchase Count", "Average Purchase Price", 
                        "Total Purchase Value", "Avg Total Purchase per Person"]
gender_summary["Average Purchase Price"] = gender_summary["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
gender_summary["Total Purchase Value"] = gender_summary["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
gender_summary["Avg Total Purchase per Person"] = gender_summary["Avg Total Purchase per Person"].astype(float).map(
    "${:,.2f}".format)
gender_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$0.03
Male,652,$3.02,"$1,967.64",$0.00
Other / Non-Disclosed,15,$3.35,$50.19,$0.20

In [27]:
#Age demographic
#In order to select only the "SN" and "Age" column, we used loc and we dropped the duplicates. 
heroes_norepeat = heroes_file.loc[ :, ["SN", "Age"]]
heroes_norepeat.drop_duplicates(subset=['SN'])

                SN  Age
0          Lisim78   20
1      Lisovynya38   40
2       Ithergue48   24
3    Chamassasya86   24
4        Iskosia90   23
..             ...  ...
773         Hala31   21
774     Jiskjask80   11
775     Aethedru70   21
777     Yathecal72   20
778        Sisur91    7

[576 rows x 2 columns]

In [28]:
#Now, in order to separate by the age group, we use bins. We separate the ages by group the use bins to group the rest
# of the information. 
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "+40"]
pd.cut(heroes_norepeat["Age"], age_bins, labels=labels)

0      20-24
1        +40
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '+40']

In [29]:
# We then groupe the ages by the age group they belong to and then we use count to see how many players are in each group.
heroes_norepeat["Age range"]= pd.cut(heroes_norepeat["Age"], age_bins, labels=labels)
age_group = heroes_norepeat.groupby("Age range")
age_count = age_group["Age range"].count()

In [30]:
# We then use the age count we calculated before and the players count to find the percentage of players in each group.
age_percent = (age_count/players_count)

In [32]:
# We use concat to build a dataframe with the information we obtained before and we give it format. 
age_summary = pd.concat([age_count, age_percent], axis=1)
age_summary.columns=["Total Count", "Percentage of Players"]
age_summary["Percentage of Players"] = age_summary["Percentage of Players"].astype(float).map(
    "{:.2%}".format)
age_summary

           Total Count Percentage of Players
Age range
<10                 23                 3.99%
10-14               28                 4.86%
15-19              136                23.61%
20-24              365                63.37%
25-29              101                17.53%
30-34               73                12.67%
35-39               41                 7.12%
+40                 13                 2.26%

In [33]:
#Purchasing analysis (Age)
# Using bins, we groupe the information just that this time we use the the purchase data. 
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "+40"]
pd.cut(heroes_file["Age"], age_bins, labels=labels)

0      20-24
1        +40
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '+40']

In [34]:
# We use groupby again to create age groups. 
heroes_file["Age group"]= pd.cut(heroes_file["Age"], age_bins, labels=labels)
age_purchasing_group = heroes_file.groupby("Age group")

In [35]:
# We use once again the functions count(), mean() and sum() to find the purchase information by age group.
age_count = age_purchasing_group["Price"].count()

In [36]:
age_av = age_purchasing_group["Price"].mean()

In [37]:
age_sum = age_purchasing_group["Price"].sum()

In [38]:
age_purchase_pp = age_sum/players_count

In [39]:
# We build the dataframe and give it the format we need. 
age_table = pd.concat([age_count, age_av, age_sum, age_purchase_pp], axis=1)
age_table.columns=["Purchase Count","Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]
age_table["Average Purchase Price"] = age_table["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
age_table["Total Purchase Value"] = age_table["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
age_table["Avg Total Purchase per Person"] = age_table["Avg Total Purchase per Person"].astype(float).map(
    "${:,.2f}".format)
age_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age group,,,,
<10,23,$3.35,$77.13,$0.13
10-14,28,$2.96,$82.78,$0.14
15-19,136,$3.04,$412.89,$0.72
20-24,365,$3.05,"$1,114.06",$1.93
25-29,101,$2.90,$293.00,$0.51
30-34,73,$2.93,$214.00,$0.37
35-39,41,$3.60,$147.67,$0.26
+40,13,$2.94,$38.24,$0.07

In [40]:
#Top spenders
# In order to find the buyers that bought the most games, we first need to group the dataframe by player. 
buyers_grouped = heroes_file.groupby("SN")
buyers_count = buyers_grouped["Price"].count()

In [41]:
# We make the usual calculations. 
buyers_mean = buyers_grouped["Price"].mean()

In [42]:
buyers_sum = buyers_grouped["Price"].sum()

In [43]:
# We build the dataframe and give it format.
buyers_table = pd.concat([buyers_count, buyers_mean, buyers_sum], axis=1)
buyers_table.columns=["Purchase Count", "Average Purchase Price", "Total Purchase Value"]

In [54]:
# We need to sort the dataframe so wwe have the players that spent the most. We use sort for that. We also use ascending
# false because the default sorting makes it ascending and we need descending 
sorted_buyers = buyers_table.sort_values("Average Purchase Price", ascending=False)
sorted_buyers["Average Purchase Price"] = sorted_buyers["Average Purchase Price"].astype(float).map(
    "${:,.2f}".format)
sorted_buyers["Total Purchase Value"] = sorted_buyers["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)

In [59]:
sorted_buyers.sort_values("Total Purchase Value")

              Purchase Count Average Purchase Price Total Purchase Value
SN
Alo38                      1                  $1.00                $1.00
Aidai61                    1                  $1.01                $1.01
Chanirra79                 1                  $1.01                $1.01
Qilalista41                1                  $1.02                $1.02
Eudanu84                   1                  $1.02                $1.02
...                      ...                    ...                  ...
Saesrideu94                2                  $4.59                $9.18
Aina42                     3                  $3.07                $9.22
Lamil79                    2                  $4.64                $9.29
Phistym51                  2                  $4.75                $9.50
Haillyrgue51               3                  $3.17                $9.50

[576 rows x 3 columns]

In [46]:
#Most Popular items
#We are going to repeat the last process but we are locing with the items' information. 
popular_items = heroes_file.loc[ :, ["Item ID", "Item Name", "Price"]]

In [47]:
# We group by the item id and the name. 
grouped_popular = popular_items.groupby(["Item ID", "Item Name"])

In [48]:
#We make the usual calculations. 
popular_count = grouped_popular.count()

In [49]:
popular_sum = grouped_popular.sum()

In [50]:
popular_average = grouped_popular.mean()

In [60]:
#We build the table and give it the format we need. Finally, we sort the informations based on the purchase count in order
# to find the most popular games. 

popular_table = pd.concat([popular_count, popular_average, popular_sum], axis=1)
popular_table.columns=["Purchase Count", "Item Price", "Total Purchase Value"]
popular_table["Item Price"] = popular_table["Item Price"].astype(float).map(
    "${:,.2f}".format)
popular_table["Total Purchase Value"] = popular_table["Total Purchase Value"].astype(float).map(
    "${:,.2f}".format)
popular_table.sort_values("Purchase Count", ascending=False)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17

In [62]:
popular_table.sort_values("Total Purchase Value", ascending=False)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
143,Frenzied Scimitar,6,$1.56,$9.36
...,...,...,...,...
106,Crying Steel Sickle,3,$3.41,$10.23
151,Severance,3,$3.40,$10.20
110,Suspension,7,$1.44,$10.08
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75